body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    background-color: #343a40;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d1d1d1;
}

footer {
    background-color: #343a40;
    color: white;
}

footer p {
    margin: 0;
}

/* Estilo para a responsividade */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
}
